*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: rgb(55,81,126);
}
.wrapper{
    margin-top: 50px;
    height: 100%;
    background-color: rgb(55,81,126);
    align-items: center;
    text-align: center;
    transition: all 1s ease-in-out 0s;
    width: 100% ;
}
.div{
    margin-top: 30px;

}
@keyframes move {
    0% {
        transform: translateY(-10px);
        color: white;
    }
    100% {
        transform: translateY(10px);
    }
}
.anime{
    animation: move 2s linear infinite alternate-reverse both;

}
.bi-arrow-down{
    font-size: 30px;
    text-shadow: 1px 1px 1px rgb(71,178,228);
    color: rgb(71,178,228);

}
.bi-box-seam{
    font-size: 50px;
    color: white;
}
.div h1{
    margin-bottom: 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form {
    /* height: 100%; */
    background-color: rgb(64,89,132);
    justify-content: center;
    text-align: center;
    margin: auto;
    position: relative;
    transition: all 1s ease-in-out 0s;
    line-height: 30px;
    width: fit-content;
    padding: 50px;
}
form div{
    position: relative;
    display: block;
}
form input{
    padding: 10px;
    width: 400px;
    margin: 10px 0;
    outline: none;
    border: none;
    color: white;
    font-size: 12px;
    background: transparent;
    border-bottom: 2px solid rgb(71,178,228);
}
.emailText,
.passText{
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
div .valid .emailText,
div .valid .passText{
    color: greenyellow;
}
div .invalid .emailText,
div .invalid .passText{
    color: red;
}
div .valid::before,
div .invalid::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 18px;
    right: 5px;
    z-index: 100;

}
div .valid::before{
    background: url("/form/check.png")no-repeat center /cover;
    border-radius: 100px;
}
div .invalid::before{
    background: url("/form/error.webp")no-repeat center /cover;
}
button{
    padding: 10px;
    font-size: 14px;
    background-color:rgb(55,81,126);
    width: 150px;
    border-radius: 100px;
    border: 2px solid rgb(71,178,228);
    margin-top: 30px;
    cursor: pointer;
}
button a{
    color: white ;
    text-decoration: none;
}
button:hover{
    background-color:rgb(71,178,228) ;
    transition: all 1s ease-in-out 0s;
}
p a{
    text-decoration: none;
    color: black;
}
.forgot{
    text-align: center;
    padding-top: 20px;
}
.forgot a{
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    transition: .3s;
}
.forgot a:hover{
    color: rgb(71,178,228);
}
.dont{
    text-align: center;
    padding-top: 10px;
}
.dont a{
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    transition: .3s;
}
.dont a:hover{
    color: rgb(71,178,228);
}


@media (max-width: 540px) {
    form input{
        width: 300px;
    }
}

@media (max-width: 430px) {
    form input{
        width: 200px;
    }
}